* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

// top bar for logo
$border_size: 5px;

.topbar {
  position: fixed;
  top: 0vh;
  left: 0vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-height: 5vh;
  min-height: 5vh;
  padding-left: 2vw;
  background-color: #0f3d4d;
  font-family: "Roboto", sans-serif;
  z-index: 3;
  border-bottom: $border_size solid white;
}

.logo {
  top: 0vh;
  left: 0vh;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3vh;
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
  align-items: right;
  padding-right: 4.5vh;
  width: 3vh;
}

.burger div {
  justify-content: right;
  width: 3vh;
  height: calc(3vh / 8);
  margin: calc(3vh / 5);
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease;
}

//nav
nav {
  position: fixed;
  float: left;
  top: 0vh;
  left: 0vh;
  width: 250px;
  height: 100%;
  background: #0f3d4d;
  border-right: $border_size solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 2vh;
  padding-right: 8px;
  z-index: 2;
  position: fixed;
}

nav a {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  color: rgb(172, 172, 172);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding: 15px 10px;
  text-align: right;
}

nav a:hover {
  color: white;
  font-size: 1.3rem;
}

.mainheading {
  color: white;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  width: 200px;
  margin-top: 50px;
  border-bottom: 4px solid currentColor;
}

.subheading {
  width: 250px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-bottom: 50px;
}

.subheading a {
  font-size: 0.9rem;
}

//body
.main-body {
  padding-left: 250px;
  margin-left: auto;
  margin-top: 5vh;
  margin: 0 auto;
  padding-right: $border_size;
  height: 100vh;
}

.background_ {
  background: rgb(226, 226, 208);
  opacity: 0.6;
  display: flex;
  justify-content: center;
  background-image: url(/images/Project_JHH_01-2880x1200.jpg);
  max-width: 100%;
  height: 100vh;
  // background-size: 100% 100%;
  padding: 100px;
  background-size: cover;
  background-position: top right;
}

/* Container holding the image and the text */
.header_image {
  position: relative;
}

/* Bottom right text */
.title {
  position: absolute;
  text-align: center;
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link_titles {
  padding-top: 6vh;
  padding-bottom: 1vh;
  background: rgba(77, 31, 15, 0.5);
  padding-left: 1vw;
  max-width: 100%;
  height: fit-content;
  border-top: $border_size solid white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 2vh;
  text-align: center;
  color: white;
}

//page elements
.element1 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: rgba(15, 61, 77, 0.2);
  padding-left: 1vw;
  max-width: 100%;
  height: fit-content;
  border-top: $border_size solid white;
}

.element2 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: rgba(77, 31, 15, 0.2);
  display: flex;
  justify-content: flex-start;
  padding-left: 1vw;
  max-width: 100%;
  height: fit-content;
  border-top: $border_size solid white;
}

.element {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 1vw;
  max-width: 100%;
}

.article-title {
  margin-top: 5px;
  top: 0vh;
  left: 0vh;
  display: flex;
  padding: 10px 10px 10px 10px;
  justify-content: flex-start;
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 3em;
  background: rgba(15, 61, 77, 0.6);
  height: fit-content;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.sub-title {
  margin-top: 50px;
  top: 0vh;
  left: 0vh;
  display: flex;
  padding: 10px 10px 10px 10px;
  justify-content: flex-start;
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 2em;
  background: rgba(15, 61, 77, 0.6);
  height: fit-content;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-right: 20px;
}

.p-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  // text-decoration: underline;
  // border: 3px solid black;
  font-family: Arial, Helvetica, sans-serif;
  // letter-spacing: 0.1rem;
  font-size: 2em;
  height: fit-content;
  width: fit-content;
  padding: 10px 10px 10px 10px;
  margin-right: 2vw;

  margin-bottom: 10px;

  // text-align: justify;
  text-justify: inter-word;
}

.p-quote-small {
  display: flex;
  justify-content: center;
  align-items: center;
  // text-decoration: underline;
  // border: 3px solid black;
  font-family: Arial, Helvetica, sans-serif;
  // letter-spacing: 0.1rem;
  font-size: 1.75em;
  height: fit-content;
  width: fit-content;
  padding: 10px 10px 10px 10px;
  margin-right: 2vw;

  margin-bottom: 50px;

  // text-align: justify;
  text-justify: inter-word;
}

.p-quote-li {
  flex-direction: column;
  list-style-position: inside;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  height: fit-content;
  width: fit-content;
  padding: 10px 10px 10px 10px;
  margin-right: 2vw;

  margin-bottom: 10px;

  // text-align: justify;
  text-justify: inter-word;
}

.p-quote-li li {
  margin-bottom: 15px;
}
//reactivity

@media screen and (max-width: 1600px) {
  .title {
    font-size: 2.6vw;
  }

  // .article-title {
  //   font-size: 3vw;
  // }

  // .p-quote {
  //   font-size: 2.5vw;
  // }

  // .p-quote-li {
  //   font-size: 2.5vw;
  // }
}

@media screen and (min-width: 769px) {
  nav {
    transform: translate(0%);
    transition: transform 1s ease-in;
  }

  nav a {
    opacity: 1;
  }

  .main-body {
    padding-left: 250px;
    transition: padding-left 1s ease-in;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .main-body {
    padding-left: $border_size;
    transition: padding-left 1s ease-out;
  }

  nav {
    position: fixed;
    flex-direction: column;
    transform: translate(-100%);
    transition: transform 1s ease-out;
  }

  nav a {
    opacity: 0;
  }

  nav a:hover {
    font-size: 1.3rem;
  }

  //unhide burger
  .burger {
    display: block;
  }

  .title {
    font-size: 4vw;
  }

  .article-title {
    font-size: 4vw;
  }

  .p-quote {
    font-size: 3.5vw;
  }

  .p-quote-li {
    font-size: 3.5vw;
  }
}

.nav-active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(calc(-3vh / 8), calc(3vh / 3));
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(calc(-3vh / 8), calc(-3vh / 3));
}
